#obj1{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}
#obj2{
    background-color: rgb(252, 252, 252);
    border: 2px solid rgb(0, 0, 0);
}
#obj3{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}