
//Variables
$color-pepo1: rgb(216, 253, 6);
$color-pepo2: rgb(14, 36, 230);
$color-pepo3: rgb(252, 8, 89);
$color-boder: rgb(18, 19, 18) ;

$color-titulo: rgb(18, 201, 1);


//Variables para tamaño md.
$color-md1: rgb(168, 197, 0);
$color-md2: rgb(0, 11, 114);
$color-md3: rgb(99, 0, 33);

//Variables para tamaño sm.
$color-sm1: rgb(230, 255, 92);
$color-sm2: rgb(130, 142, 255);
$color-sm3: rgb(255, 130, 172);